/* Base tokens that don't change between modes */
:root {
    /* Spacing */
    --unit: 1rem;
    --xxs: calc(0.25 * var(--unit));
    --xs: calc(0.5 * var(--unit));
    --sm: calc(0.75 * var(--unit));
    --md: calc(1 * var(--unit));
    --lg: calc(1.25 * var(--unit));
    --xl: calc(1.5 * var(--unit));
    --xxl: calc(2 * var(--unit));

    /* Border */
    --border-width: 1px;
    --border-style: solid;

    /* Border radius */
    --radius: var(--unit);
    --radius-xxs: var(--xxs);
    --radius-xs: var(--xs);
    --radius-sm: var(--sm);
    --radius-md: var(--md);
    --radius-lg: var(--lg);
    --radius-xl: var(--xl);
    --radius-xxl: var(--xxl);

    --color-brand: #6c50ff;
}

/* Light mode tokens */
[data-mode="light"] {
    /* Colors */
    --color-background: #ffffff;
    --color-background-hover: #f5f5f5;
    --color-background-muted: #eaeaea;
    --color-text: #1a1a1a;
    --color-text-muted: #333333;
    --color-info: #007aff;
    --color-success: #34c759;
    --color-warning: #ff9500;
    --color-error: #ff3b30;

    /* Borders */
    --border-color: rgba(0, 0, 0, 0.1);
    --border: var(--border-width) var(--border-style) var(--border-color);
    --border-hover: var(--border-width) var(--border-style) rgba(0, 0, 0, 0.2);

    /* Shadows */
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.05);
    --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.05);
}

/* Dark mode tokens */
[data-mode="dark"] {
    /* Colors */
    --color-background: #1a1a1a;
    --color-background-hover: #2a2a2a;
    --color-background-muted: #666666;
    --color-text: #ffffff;
    --color-text-muted: #999999;
    --color-primary: #0a84ff;
    --color-success: #32d74b;
    --color-warning: #ff9f0a;
    --color-error: #ff453a;

    /* Borders */
    --border-color: rgba(255, 255, 255, 0.1);
    --border: var(--border-width) var(--border-style) var(--border-color);
    --border-hover: var(--border-width) var(--border-style)
        rgba(255, 255, 255, 0.2);

    /* Shadows */
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.2);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.2);
    --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.2);
}
