:root {
    --button-color: var(--color-text);
    --button-background-color: var(--color-background);
    --button-border: var(--border);
    --button-padding: var(--xs);
    --button-radius: var(--radius);
}

.dynamic-island.button {
    border: var(--button-border);
    border-radius: var(--button-radius);
    cursor: pointer;
    padding: var(--button-padding);
    color: var(--button-color);
    background: var(--button-background-color);
    pointer-events: all;
    -webkit-pointer-events: all;
    -moz-pointer-events: all;
    -ms-pointer-events: all;
    -o-pointer-events: all;

    > main {
        align-items: center;
        justify-content: center;
    }
}
