:root {
    --dropdown-color: var(--color-text);
    --dropdown-background-color: var(--color-background);
    --dropdown-border: var(--border);
    --dropdown-padding: var(--xs);
    --dropdown-radius: var(--radius);
    --dropdown-shadow: var(--shadow-md);
    --dropdown-z-index: 1000;
}

.dynamic-island.dropdown {
    color: var(--dropdown-color);
    background: var(--dropdown-background-color);
    border: var(--dropdown-border);
    border-radius: var(--dropdown-radius);
    cursor: pointer;
    pointer-events: all;
    -webkit-pointer-events: all;
    -moz-pointer-events: all;
    -ms-pointer-events: all;

    > main {
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    }

    > footer {
        display: none;
        background: var(--dropdown-background-color);

        ul {
            list-style: none;
            width: 100%;
            margin: 0;
            padding: 0;

            > li {
                width: 100%;
                cursor: pointer;
                white-space: nowrap;
                pointer-events: all;
                -webkit-pointer-events: all;
                -moz-pointer-events: all;
                -ms-pointer-events: all;
            }
        }
    }

    &.open {
        > footer {
            display: flex;
        }
    }
}
