:root {
    --dropdown-color: var(--color-text);
    --dropdown-background-color: var(--color-background);
    --dropdown-border: var(--border);
    --dropdown-padding: var(--xs);
    --dropdown-radius: var(--radius);

    --dropdown-hover-background-color: var(--color-background-hover);
    --dropdown-hover-border: var(--border-hover);

    --dropdown-hover-transform: var(--hover-transform);
}

.dynamic-island.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--dropdown-padding);
    color: var(--dropdown-color);
    background: var(--dropdown-background-color);
    border: var(--dropdown-border);
    border-radius: var(--dropdown-radius);
    cursor: pointer;

    > main {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    > footer {
        display: none;
        transform: translateY(-100px);
        width: 100%;

        ul {
            list-style: none;
            width: 100%;
            margin: 0;
            padding: 0;
            background: var(--dropdown-background-color);
            border-radius: var(--dropdown-radius);

            > li {
                padding: var(--dropdown-padding);
                cursor: pointer;
            }
        }
    }

    &.open {
        > footer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            transform: translateY(0);
        }
    }
}
