:root {
    --nav-item-background: var(--color-background);
    --nav-item-border: var(--border);
    --nav-item-border-radius: var(--radius);
    --nav-item-padding: var(--sm);
    --nav-item-gap: var(--xs);
    --nav-item-font-size: var(--font-size-sm);
    --nav-item-font-weight: var(--font-weight-medium);
}

.dynamic-island.nav-item {
    padding: var(--nav-item-padding);
    width: 100%;
    height: unset;
    background: var(--nav-item-background);
    border: var(--nav-item-border);
    border-radius: var(--nav-item-border-radius);
    cursor: pointer;
    pointer-events: all;
    -webkit-pointer-events: all;
    -moz-pointer-events: all;
    -ms-pointer-events: all;
    -o-pointer-events: all;

    > header {
        font-size: var(--nav-item-font-size);
        font-weight: var(--nav-item-font-weight);
    }

    > main {
        font-size: var(--nav-item-main-font-size);
        opacity: var(--nav-item-main-opacity);
    }
}
