:root {
    --notification-color: var(--color-text);
    --notification-background: var(--color-background);
    --notification-padding: var(--sm);
    --notification-gap: var(--sm);
    --notification-icon-size: 1.5em;
    --notification-border: var(--border);
    --notification-radius: var(--radius);

    --notification-hover-background: var(--color-background-hover);
    --notification-hover-border: var(--border-hover);
    --notification-hover-transform: var(--hover-transform);
}

.dynamic-island.notification {
    padding: var(--notification-padding);
    color: var(--notification-color);
    background: var(--notification-background);
    border: var(--notification-border);
    border-radius: var(--notification-radius);
    cursor: pointer;

    &:hover {
        background: var(--notification-hover-background);
        border: var(--notification-hover-border);
        transform: var(--notification-hover-transform);
    }

    /* Layout the notification content using the Dynamic Island grid */
    > aside {
        justify-content: center;
        align-items: center;
        font-size: var(--notification-icon-size);
    }

    > main {
        justify-content: flex-start;
        align-items: center;
        padding-left: var(--notification-gap);
    }
}
