:root {
    --notification-color: var(--color-text);
    --notification-background: var(--color-background);
    --notification-padding: var(--sm);
    --notification-gap: var(--sm);
    --notification-icon-size: 1.5em;
    --notification-border: var(--border);
    --notification-radius: var(--radius);
}

.dynamic-island.notification {
    padding: var(--notification-padding);
    color: var(--notification-color);
    background: var(--notification-background);
    border: var(--notification-border);
    border-radius: var(--notification-radius);
    cursor: pointer;

    > aside {
        align-items: center;
        justify-content: center;
        font-size: var(--notification-icon-size);
    }

    > main {
        align-items: center;
        justify-content: flex-start;
        padding-left: var(--notification-gap);
    }
}
