:root {
    --progress-color: var(--color-text);
    --progress-background: var(--color-background);
    --progress-padding: var(--sm);
    --progress-border: var(--border);
    --progress-radius: var(--radius);
    --progress-gap: var(--md);
    --progress-bar-height: 6px;
    --progress-bar-background: var(--color-background-hover);
    --progress-bar-fill: var(--color-primary);
}

.progress {
    padding: var(--progress-padding);
    color: var(--progress-color);
    background: var(--progress-background);
    border: var(--progress-border);
    border-radius: var(--progress-radius);

    > main {
        align-items: center;
        justify-content: center;
        gap: var(--progress-gap);

        > progress {
            width: 100%;
            height: var(--progress-bar-height);
            background: var(--progress-bar-background);
            border-radius: var(--progress-radius);
        }
    }

    > article {
        padding: 0 0 0 var(--progress-padding);
    }
}
