:root {
    --theme-controls-gap: var(--sm);
    --theme-controls-padding: var(--sm);
}

.theme-controls {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--theme-controls-gap);
    z-index: 1000;
}
