@keyframes sonar {
    0% {
        transform: scale(0.1);
        opacity: 1;
    }

    70% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sonarOuter {
    0% {
        transform: scale(0.1);
        opacity: 1;
    }

    50% {
        transform: scale(3);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.status {
    position: relative;
    display: inline-block;
    align-self: flex-end;
    width: 8px;
    height: 8px;
    transform: translate(-300%, 0);
    border-radius: 50%;
    box-shadow: oklch(100% 0 0) 0 0 0 2px;
}

.status.online {
    background: hsl(176, 100%, 37%);

    &:before,
    &:after {
        position: absolute;
        content: "";
        inline-size: 100%;
        block-size: 100%;
        inset-inline-start: 0px;
        inset-block-start: 0px;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: hsl(176, 100%, 37%) 0px 0px 1px 1px;
    }

    &:before {
        animation: 2.5s ease-out 0.25s infinite normal none running sonarOuter;
    }

    &:after {
        animation: 2.5s ease-out 0.25s infinite normal none running sonar;
    }
}

.status.offline,
.status.offline:before {
    background: #ff4242;
}

.status.invisible,
.status.invisible:before {
    background: #42e5ff;
}

.status.idle,
.status.idle:before {
    background: #ffda72;
}

.status:before {
    content: "";
    display: block;
    position: absolute;
    left: -5px;
    top: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    animation: bigPulse 1.5s infinite ease-in;
}

/* Chat layout styles */
.height {
    height: 100%;
}

.grow {
    flex-grow: 1;
}

.scroll {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: oklch(50% 0 0) transparent;
}

.scroll::-webkit-scrollbar {
    width: 6px;
}

.scroll::-webkit-scrollbar-track {
    background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: oklch(50% 0 0);
    border-radius: 3px;
}

#messages-container {
    position: relative;
    padding-right: 0.5rem;
}

#messages-container .message {
    margin-bottom: 1rem;
}

.start-videocall {
    position: absolute;
    top: 3rem;
    right: 3rem;
}
