table {
    width: 100%;
    height: 100%;
    border-spacing: 0;
    text-align: left;
    overflow-y: auto;
    border-collapse: collapse;
    cursor: pointer;
    border-radius: var(--xs);
}

thead {
    position: sticky;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(8px);

    > tr {
        --valid: hsl(140 80% 40%);
        --invalid: hsl(10 80% 40%);
        --input: hsl(0 0% 0%);

        --is-valid: 0;
        --is-invalid: 0;
        background: linear-gradient(var(--input), var(--input)) padding-box,
            linear-gradient(var(--invalid), var(--invalid))
                calc((1 - var(--is-invalid)) * -100cqi) 0 / 100% 100% border-box,
            linear-gradient(var(--valid), var(--valid))
                calc((1 - var(--is-valid)) * 100cqi) 0 / 100% 100% border-box,
            var(--input);
        border: 2px solid transparent;
        padding: var(--unit) var(--xl);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        max-width: 100%;
        width: 100cqi;
        color: var(--fg);
        border-radius: var(--xs);
        outline: none;
        font-weight: 200;
        box-shadow: 0 1px hsl(0 0% 100% / 0.35) inset,
            0 -1px hsl(0 0% 0% / 1) inset, 0 10px 20px -5px hsl(0 0% 0% / 1);
    }
}

tbody {
    overflow: scroll;
    tr {
        &:nth-child(odd) {
            background: var(--bg-glass-tint);
        }
    }
}

th {
    font-weight: 500;
    text-transform: none;
    white-space: nowrap;
    position: relative;
    color: var(--muted);
    transition: all 0.2s ease;
}

th:hover {
    background: var(--muted);
}

th,
td {
    padding: var(--sm);
    font-size: var(--md);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
    color: var(--fg);
}

tr:hover td {
    background: var(--muted);
    color: var(--highlight);
}
