.timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    perspective: 500px;

    .post {
        z-index: -1;
    }
}

.monocle {
    position: fixed;
    width: 720px;
    height: 480px;
    overflow: hidden;
    background: var(--lighter);
    border-radius: var(--md);
    z-index: 1;

    > .post {
        z-index: 1;
    }
}

.post {
    width: 720px;
    height: 480px;
}
