.timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 720px;
    perspective: 500px;

    > .post {
        z-index: -1;
    }
}

/* .monocle {
    position: fixed;
    width: 720px;
    height: 480px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    border-radius: var(--md);
    z-index: 1;

    >.post {
        display: none;
        z-index: 1;
    }
}

.post {
    display: none;
    width: 720px;
    height: 480px;
} */
