:root {
    --xxl: 6rem;
    --xl: 3rem;
    --lg: 2rem;
    --unit: 1rem;
    --md: 0.75rem;
    --sm: 0.5rem;
    --xs: 0.25rem;

    --red: hsl(0, 100%, 80%);
    --yellow: hsl(62, 100%, 80%);
    --green: hsl(122, 100%, 80%);
    --blue: hsl(179, 100%, 80%);
    --purple: #999cff;
    --pink: hsl(302, 100%, 80%);
    --white: hsl(0, 0%, 98%);

    --lighter: hsl(0, 0%, 96%);
    --light: hsl(0, 0%, 60%);
    --dark: hsl(0, 0%, 20%);
    --darker: hsl(225, 5%, 15%);

    --shadow-page: rgba(0, 0, 0, 0.08) 0px 0.9px 4px,
        rgba(0, 0, 0, 0.06) 0px 2.6px 8px, rgba(0, 0, 0, 0.05) 0px 5.7px 12px,
        rgba(0, 0, 0, 0.04) 0px 15px 15px;

    --shadow-tilt: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    --shadow-tile: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    --ring: 0 0 0 4px var(--darker);
    --ring-light: 0 0 0 2px var(--light);
    --ring-dark: 0 0 0 2px var(--dark);
    --ring-darker: 0 0 0 2px var(--darker);
    --ring-blue: 0 0 0 4px var(--blue);
    --ring-green: 0 0 0 4px var(--green);
    --ring-red: 0 0 0 4px var(--red);
    --ring-yellow: 0 0 0 4px var(--yellow);
    --ring-purple: 0 0 0 4px var(--purple);
    --ring-double-purple: 0 0 0 8px var(--purple);

    --transition-all: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    --transition: all 0.2s cubic-bezier(0.64, 0, 0.78, 0);
}

[data-trigger="click"] {
    cursor: pointer;
    transition: var(--transition-all);

    &:hover {
        transform: translateY(-2px);
    }
}

.scrollable {
    overflow-y: auto;
}

.front {
    z-index: 100;
}

.nopointer {
    pointer-events: none;
}

.width {
    width: 100%;
}

.height {
    height: 100%;
}

.pad-xl {
    padding: var(--xl);
}

.pad-lg {
    padding: var(--lg);
}

.pad {
    padding: var(--unit);
}

.pad-md {
    padding: var(--md);
}

.pad-sm {
    padding: var(--sm);
}

.pad-xs {
    padding: var(--xs);
}

.gap {
    gap: var(--unit);
}

.gap-xl {
    gap: var(--xl);
}

.gap-md {
    gap: var(--md);
}

.gap-sm {
    gap: var(--sm);
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    &.space-between {
        justify-content: space-between;
    }

    &.end {
        justify-content: flex-end;
    }

    &.start {
        justify-content: flex-start;
    }

    &.stretch {
        align-items: stretch;
    }
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;

    &.self-end {
        align-self: flex-end;
    }

    &.space-between {
        justify-content: space-between;
    }
}

.grow {
    flex: 1;
}

.shrink {
    flex: 0;
}

.start {
    align-items: flex-start;
    justify-content: flex-start;
}

.left {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.center {
    align-items: center;
    justify-content: center;
}

.pull-up {
    transform: translateY(-50%);
}

.text-center {
    text-align: center;
}

path.link {
    color: var(--dark);
    stroke: var(--dark);
    stroke-width: 4px;
    stroke-dasharray: 8, 6;
    stroke-linecap: round;
    stroke-dashoffset: 0;
}

.border-dark {
    border: 1px solid var(--dark);
}

.border-top {
    border-top: 1px solid var(--darker);
}

.border-bottom {
    border-bottom: 1px solid var(--light);
}

.border-right {
    border-right: 1px solid var(--darker);
}

.bg-lighter {
    background: var(--lighter);
    color: var(--dark);
}

.bg-dark {
    background: var(--dark);
    color: var(--lighter);
}

.bg-darker {
    background: var(--darker);
    color: var(--light);
}

.dark {
    color: var(--dark);
}

.light {
    color: var(--light);
}

.lighter {
    color: var(--lighter);
}

.darker {
    color: var(--darker);
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}

.yellow {
    color: var(--yellow);
}

.blue {
    color: var(--blue);
}

.purple {
    color: var(--purple);
}

.pink {
    color: var(--pink);
}

.pointer {
    cursor: pointer;
}

.ring {
    box-shadow: var(--ring);
}

.ring-light {
    box-shadow: var(--ring-light);
}

.ring-dark {
    box-shadow: var(--ring-dark);
}

.ring-darker {
    box-shadow: var(--ring-darker);
}

.ring-purple {
    box-shadow: var(--ring-purple);
}

.ring-double-purple {
    box-shadow: var(--ring-double-purple);
    outline: 8px solid var(--darker);
    outline-offset: 6px;
}

.nobreak {
    white-space: nowrap;
}

.radius {
    border-radius: var(--unit);
}

.radius-sm {
    border-radius: var(--sm);
}

.radius-xs {
    border-radius: var(--xs);
}

.radius-top {
    border-top-left-radius: var(--unit);
    border-top-right-radius: var(--unit);
}

.radius-top-sm {
    border-top-left-radius: var(--sm);
    border-top-right-radius: var(--sm);
}

.radius-bottom-sm {
    border-bottom-left-radius: var(--sm);
    border-bottom-right-radius: var(--sm);
}

.radius-bottom-xs {
    border-bottom-left-radius: var(--xs);
    border-bottom-right-radius: var(--xs);
}

.shadow-page {
    box-shadow: var(--shadow-page);
}

.shadow-tilt {
    box-shadow: var(--shadow-tilt);
}

.shadow-tile {
    box-shadow: var(--shadow-tile);
}

.stick-right {
    position: absolute;
    right: 0;
    top: 0;
}

.pulse {
    animation: sonarOuter 1.5s infinite;
}