html,
body,
#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--bg);
    color: var(--fg);
    perspective: 500px;
}

.layout {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "aside main article"
        "aside footer footer";
    width: 100%;
    height: 100%;
    background: var(--bg);
    perspective: 500px;
    isolation: isolate;

    > header {
        grid-area: header;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    > aside {
        grid-area: aside;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    > main {
        grid-area: main;
    }

    > article {
        grid-area: article;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    > footer {
        grid-area: footer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.text {
    white-space: nowrap;
}

.icon {
    cursor: pointer;
}

.badge {
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--sm);
    border: 1px solid var(--brand);
    border-radius: var(--xxl);
    background: var(--brand-light);
    color: var(--highlight);

    > h6 {
        padding: 0;
        margin: 0;
        line-height: 0;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: var(--md);
        color: var(--highlight);
    }
}

sub {
    * {
        margin-right: var(--xs);
        vertical-align: sub;
    }
}

a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--sm);
    padding: var(--sm);
    text-decoration: none;
    color: var(--highlight);

    > span {
        color: var(--fg);
    }

    &:hover {
        color: var(--brand);
    }
}

button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--sm);
    width: fit-content;
    border: none;
    border-radius: var(--xs);
    font: var(--font-family);
    transition: var(--transition);
    cursor: pointer;

    &.photo:hover {
        color: var(--green) !important;
    }

    &.mic:hover {
        color: var(--red) !important;
    }

    &.mood:hover {
        color: var(--yellow) !important;
    }

    &:hover {
        background: var(--dark);

        > * {
            transform: translateY(-2px);
        }

        &.brand {
            background: var(--brand-dark);
            box-shadow: var(--ring-brand);
        }

        &.keypad {
            background: var(--bg);
            border: 1px solid var(--muted);
            color: var(--fg);
            box-shadow: var(--shadow-card);
        }

        &.photo {
            color: var(--green);
        }

        &.mic {
            color: var(--red);
        }

        &.mood {
            color: var(--yellow);
        }
    }

    > h6 {
        font: var(--font-family);
        font-weight: 400;
    }

    &.brand {
        background: var(--brand);
        border: none;
        color: var(--highlight);
    }

    &.keypad {
        width: 100%;
        height: 100%;
        padding: var(--lg);
        background: var(--bg);
        border: 1px solid var(--muted);
        color: var(--fg);
    }

    &.icon {
        &.muted {
            background: var(--muted);
            color: var(--fg);
        }
    }
}

.input-group {
    > label {
        align-self: flex-start;
        transform: translate(var(--xl), var(--lg));
        padding: 0 var(--xs);
        background: var(--bg);
        color: var(--muted);
        transition: var(--transition);
        z-index: 999;
    }

    > div {
        transform: translateX(-0.75rem);

        > span {
            transform: translateX(var(--lg));
        }

        > input {
            padding-left: var(--xl);

            &::placeholder {
                color: transparent;
            }
        }
    }

    > .error-message {
        display: none;
        color: var(--danger);
    }

    &.focused {
        > label,
        > input:not(:placeholder-shown) + label {
            transform: translate(var(--md), var(--sm));
            color: var(--fg);
        }
    }

    &.error {
        > div > input {
            border-color: var(--danger);
            box-shadow: var(--ring-danger);
        }
    }

    &.touched.error {
        > .error-message {
            display: block;
        }
    }
}

input {
    width: 100%;
    padding: var(--sm);
    background: var(--bg);
    border: none;
    border-radius: var(--xs);
    box-shadow: var(--ring-muted);
    color: var(--fg);
    transition: var(--transition-all);

    &[type="checkbox"] {
        box-shadow: none;
    }
}

ul.list {
    width: 100%;
    height: 100%;
    border-radius: var(--xs);
    background: var(--muted);
    list-style: none;
    padding: 0;

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--sm);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        border-top: 2px solid var(--muted);
        border-bottom: 1px solid var(--bg);
        transition: var(--transition);

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            color: var(--pink);
            border-top: 2px solid var(--pink);
            background: var(--bg);
        }
    }
}

details {
    inline-size: 50ch;

    @media (prefers-reduced-motion: no-preference) {
        interpolate-size: allow-keywords;
    }

    &::details-content {
        opacity: 0;
        block-size: 0;
        overflow-y: clip;
        transition: content-visibility var(--transition-time) allow-discrete,
            opacity var(--transition-time), block-size var(--transition-time);
    }

    &[open]::details-content {
        opacity: 1;
        block-size: auto;
    }
}

.flyout {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--muted);
    color: var(--fg);
}

.card-shadow {
    flex: 0;
    display: flex;
    padding: var(--unit);
    background: var(--bg);
    border: 1px solid var(--muted);
    border-radius: var(--xs);
    backdrop-filter: blur(var(--sm));
    box-shadow: var(--shadow-card);
    animation: var(--appear);
}

.card-glass {
    background: var(--bg-glass);
    border: 1px solid var(--muted);
    backdrop-filter: blur(var(--sm));
    box-shadow: var(--shadow-card);
}

img {
    &.logo {
        width: 50%;
        height: 50%;
        object-fit: contain;
        border-radius: 0;
    }

    &.avatar {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid transparent;
        box-shadow: var(--ring-purple);
        scale: 1;
        position: relative;
        isolation: isolate;
        z-index: 99999;

        &.xl {
            width: 128px;
            height: 128px;
            position: relative;
            isolation: isolate;
            z-index: 99999;
        }

        &.ring-double-purple {
            box-shadow: var(--ring-double-purple);
            outline: 8px solid var(--bg);
            outline-offset: 6px;
        }
    }
}

.accent-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: var(--unit);
    gap: var(--xs);
    transition: var(--transition-all);

    a {
        color: var(--dark);
    }

    &.red {
        border-top: 4px solid var(--red);
    }

    &.yellow {
        border-top: 4px solid var(--yellow);
    }

    &.green {
        border-top: 4px solid var(--green);
    }

    cursor: pointer;

    &:hover {
        transform: translateY(-2px);

        > span {
            scale: 1.2;
        }
    }
}

.surface {
    --is-valid: 0;
    --is-invalid: 0;
    background: linear-gradient(var(--surface), var(--surface)) padding-box,
        linear-gradient(var(--danger), var(--danger))
            calc((1 - var(--is-invalid)) * -100cqi) 0 / 100% 100% border-box,
        linear-gradient(var(--success), var(--success))
            calc((1 - var(--is-valid)) * 100cqi) 0 / 100% 100% border-box,
        var(--surface);

    border: 2px solid transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    width: 100cqi;
    color: var(--fg);
    outline: none;
    font-weight: 200;
    box-shadow: var(--surface-shadow);
}

.button-submenu,
.button-face {
    display: none;
}

#messages-container {
    &:before {
        content: "";
        background: var(--gradient-dark-vertical);
    }
}

.avatar-placeholder {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background: var(--bg-glass);
    border: 1px solid var(--muted);
}

.initials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-glass);
    border: 1px solid var(--muted);
    border-radius: 50%;
}

.chart-container {
    height: 20px;
    width: 200px;
}

.chat {
    flex-direction: row;
}

.timeline {
    flex-direction: column;
}
