:root {
    interpolate-size: allow-keywords;

    --xxl: 6rem;
    --xl: 3rem;
    --lg: 2rem;
    --unit: 1rem;
    --md: 0.75rem;
    --sm: 0.5rem;
    --xs: 0.25rem;

    --highlight: hsl(0, 0%, 96%);
    --fg: hsl(0, 0%, 60%);
    --muted: hsl(0, 0%, 20%);
    --bg: hsl(225, 5%, 15%);
    --transparent: hsl(0, 0%, 0%, 0);
    --bg-glass: hsl(255, 5%, 15%, 0.5);
    --bg-glass-tint: hsl(0, 0%, 20%, 0.5);

    --brand: #6f52ff;
    --brand-light: hsl(250, 100%, 76%);
    --brand-dark: hsl(250, 100%, 56%);

    --danger: #dc2626;
    --danger-light: #f87171;
    --danger-dark: #991b1b;

    --success: hsl(142, 76%, 36%);
    --success-light: #4ade80;
    --success-dark: hsl(143, 64%, 24%);

    --warning: hsl(62, 100%, 80%);
    --warning-light: hsl(62, 100%, 90%);
    --warning-dark: hsl(62, 100%, 70%);

    --important: hsla(0, 66%, 52%, 0.174);

    --red: #ff9999;
    --yellow: rgb(252, 255, 153);
    --green: #99ff9c;
    --blue: hsl(179, 100%, 80%);
    --purple: #999cff;
    --pink: hsl(302, 100%, 80%);
    --white: hsl(0, 0%, 98%);
    --black: hsl(0, 0%, 0%);

    --gradient: linear-gradient(to right,
            var(--bg-glass-tint),
            var(--bg-glass));

    --gradient-vertical: linear-gradient(to bottom,
            var(--bg-glass-tint),
            var(--bg-glass));

    --shadow-page: rgba(0, 0, 0, 0.08) 0px 0.9px 4px,
        rgba(0, 0, 0, 0.06) 0px 2.6px 8px, rgba(0, 0, 0, 0.05) 0px 5.7px 12px,
        rgba(0, 0, 0, 0.04) 0px 15px 15px;

    --shadow-card: 0 8px 32px rgba(0, 0, 0, 0.3);

    --shadow-tilt: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    --shadow-tile: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    --surface: var(--black);
    --surface-shadow: 0 1px hsl(0 0% 100% / 0.35) inset,
        0 -1px hsl(0 0% 0% / 1) inset, 0 10px 20px -5px hsl(0 0% 0% / 1);

    --ring-brand: 0 0 0 2px var(--brand);
    --ring-brand-light: 0 0 0 2px var(--brand-light);
    --ring-brand-dark: 0 0 0 2px var(--brand-dark);
    --ring-muted: 0 0 0 2px var(--muted);

    --ring: 0 0 0 2px var(--darker);
    --ring-light: 0 0 0 2px var(--light);
    --ring-dark: 0 0 0 2px var(--dark);
    --ring-darker: 0 0 0 2px var(--darker);
    --ring-blue: 0 0 0 2px var(--blue);
    --ring-success: 0 0 0 2px var(--success);
    --ring-danger: 0 0 0 2px var(--danger);
    --ring-warning: 0 0 0 2px var(--warning);
    --ring-purple: 0 0 0 2px var(--purple);
    --ring-double-purple: 0 0 0 4px var(--purple);

    --border-muted: 1px solid var(--muted);
    --border-brand: 1px solid var(--brand);
    --border-danger: 1px solid var(--danger);

    --transition-time: 0.2s;
    --transition-time-long: 0.5s;
    --transition-all: all var(--transition-time) ease;
    --appear: appear var(--transition-time-long) cubic-bezier(0.34, 1.56, 0.64, 1);

    --on: 0;
    --cord: hsl(0, 0%, calc((60 - (var(--on) * 50)) * 1%));
    --stroke: hsl(0, 0%, calc((60 - (var(--on) * 50)) * 1%));
    --shine: hsla(0, 0%, 100%, calc(0.75 - (var(--on) * 0.5)));
    --cap: hsl(0, 0%, calc((40 + (var(--on) * 30)) * 1%));
    --filament: hsl(45,
            calc(var(--on) * 80%),
            calc((25 + (var(--on) * 75)) * 1%));
}

body.light {
    --highlight: hsl(0, 0%, 50%);
    --fg: hsl(0, 0%, 20%);
    --muted: hsl(0, 0%, 88%);
    --bg: hsl(0, 0%, 98%);
    --transparent: hsl(0, 0%, 0%, 0);
    --bg-glass: hsl(0, 0%, 98%, 0.5);
    --bg-glass-tint: hsl(0, 0%, 88%, 0.5);
    --gradient-dark: linear-gradient(to right,
            var(--bg-glass-tint),
            var(--bg-glass));

    --gradient-dark-vertical: linear-gradient(to bottom,
            var(--bg-glass-tint),
            var(--bg-glass));
}

.bg {
    background: var(--bg);
}

.bg-muted {
    background: var(--muted);
}

.bg-brand {
    background: var(--brand);
}

.bg-brand-light {
    background: var(--brand-light);
}

.bg-brand-dark {
    background: var(--brand-dark);
}

.bg-danger {
    background: var(--danger);
}

.bg-danger-light {
    background: var(--danger-light);
}

.bg-danger-dark {
    background: var(--danger-dark);
}

.bg-success {
    background: var(--success);
}

.bg-success-light {
    background: var(--success-light);
}

.bg-success-dark {
    background: var(--success-dark);
}

.bg-red {
    background: var(--red);
}

.bg-yellow {
    background: var(--yellow);
}

.bg-green {
    background: var(--green);
}

.bg-blue {
    background: var(--blue);
}

.bg-purple {
    background: var(--purple);
}

.bg-pink {
    background: var(--pink);
}

.bg-white {
    background: var(--white);
}

.bg-black {
    background: var(--black);
}

.bg-transparent {
    background: var(--transparent);
}

.bg-glass {
    background: var(--bg-glass);
}

.bg-glass-tint {
    background: var(--bg-glass-tint);
}

.bg-gradient {
    background: var(--gradient);
}

.bg-gradient-vertical {
    background: var(--gradient-vertical);
}

.icon-yellow {
    color: var(--yellow);
}

.surface {
    --is-valid: 0;
    --is-invalid: 0;
    background: linear-gradient(var(--surface), var(--surface)) padding-box,
        linear-gradient(var(--danger), var(--danger)) calc((1 - var(--is-invalid)) * -100cqi) 0 / 100% 100% border-box,
        linear-gradient(var(--success), var(--success)) calc((1 - var(--is-valid)) * 100cqi) 0 / 100% 100% border-box,
        var(--surface);

    border: 2px solid transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    width: 100cqi;
    color: var(--fg);
    outline: none;
    font-weight: 200;
    box-shadow: var(--surface-shadow);
}

.radius-unit {
    border-radius: var(--unit);
}

.radius-xs {
    border-radius: var(--xs);
}

.radius-sm {
    border-radius: var(--sm);
}

.radius-md {
    border-radius: var(--md);
}

.radius-lg {
    border-radius: var(--lg);
}

.radius-xl {
    border-radius: var(--xl);
}

.radius-xxl {
    border-radius: var(--xxl);
}

[data-trigger="click"] {
    cursor: pointer;
    transition: var(--transition-all);

    &:hover {
        transform: translateY(-2px);
    }
}

.scrollable {
    overflow-y: auto;
}

.foldable {
    overflow: hidden;
    height: 0;
    transition: var(--transition-all);

    &.open {
        height: auto;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--brand) var(--bg);
    transition: background 0.5s ease, color 0.5s ease;
}

*::-webkit-scrollbar {
    height: var(--xs);
    width: var(--xs);
}

*::-webkit-scrollbar-track {
    border-radius: var(--xs);
    background-color: var(--bg);
}

*::-webkit-scrollbar-track:hover {
    background-color: var(--muted);
}

*::-webkit-scrollbar-track:active {
    background-color: var(--muted);
}

*::-webkit-scrollbar-thumb {
    border-radius: var(--xs);
    background-color: var(--brand);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--brand);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--brand);
}